# This code is to process CSV data extracted using tabulaPDF

In [18]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd
import numpy as np
#import math


# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 

predefined_head = ['province', 'district', 'one_aye', 'one_aye100', 'one_nay', 'one_nay100', \
                   'two_aye', 'two_aye100', 'two_nay', 'two_nay100'];
table = pd.read_csv("tabula-results2.csv", names = predefined_head, thousands=',') 
# Preview the first 5 lines of the loaded data 
table.head()

,province,district,one_aye,one_aye100,one_nay,one_nay100,two_aye,two_aye100,two_nay,two_nay100
0,จงหวด,อําเภอ/เขต,ประเดนท ่1 รํางรฐธรรมนูญ,ประเดนท ่2 คําถํามเพ่ิมเตม,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,เหนชอบ,รอยละ,ไมเหนชอบ,รอยละ,เหนชอบ,รอยละ,ไมเหนชอบ,รอยละ
2,กรุงเทพมหานคร,คลองเตย,"23,475",70.28,"9,928",29.72,"22,171",67.13,"10,858",32.87
3,คลองสาน,"20,990",72.54,"7,947",27.46,"19,660",68.63,"8,987",31.37,NaN
4,คลองสามวา,"50,073",68.6,"22,921",31.4,"46,745",65.17,"24,983",34.83,NaN

Process the data by
1. re-adjust the cell to the correct table structure

In [19]:
# Drop a row by condition

table2 = table[~((table.one_nay).isna() | (table.district).isna() | (table.province.isna() & table.two_nay100.isna()))].copy()
table2 = table2.iloc[0:-1]

table3 = table2.copy().reset_index(drop=True)
table3.loc[table3.two_nay100.isna()] = table2.loc[table2.two_nay100.isna()].shift(periods=1, axis='columns')

#table3.tail(100)

2. mark if the row is summation / out-site

In [20]:
# check if it is a summation row?
sum_row = table3['district'].str.find('ผลรวม')
sum_row[sum_row<0] = 0
table3['sum_row'] = sum_row
table3['sum_row'] = table3['sum_row'].astype('bool')

# check if it is a out-site row?
ext_row = table3['district'].str.find('อกเขตจงหว')
ext_row[ext_row<0] = 0
table3['ext_row'] = ext_row
table3['ext_row'] = table3['ext_row'].astype('bool')

3. re-label the summation row and out-site

In [21]:
table3.loc[table3[table3['ext_row']==1].index,'district'] = 'นอกเขต'
table3.loc[table3[table3['sum_row']==1].index,'district'] = 'ผลรวม'

#table3.tail(100)

4. repeat the province cells

In [22]:
table3.fillna(method='ffill', inplace=True)
#table3.tail(100)

# correct the typos
## correct provinces

In [33]:
from fuzzywuzzy import process


def match_names(wrong, correct):
    names_array = []
    ratio_array = []
    for row in wrong:
        x=process.extractOne(row, correct)
        names_array.append(x[0])
        ratio_array.append(x[1])
    return names_array, ratio_array

## correct the provinces
# wrong data set

table4 = table3.copy()
wrong_names = table4['province'].values

In [34]:
# correct data set
choices_df  = pd.read_csv('../district/prov_list.csv')
correct_names=choices_df['PRV_NAME_TH'].values

In [35]:
name_match, ratio_match = match_names(wrong_names, correct_names)

table4['province'] = pd.Series(name_match, index=table3.index)

#table4.tail()

## correct districts

In [ ]:
## correct the districts
# wrong data set
wrong_names = table3[~(table3['sum_row'] | table3['ext_row'])]['district'].values

# correct data set
choices_df  = pd.read_csv('../district/dist_list.csv')
correct_names=choices_df['AMP_NAME_TH'].values


name_match, ratio_match = match_names(wrong_names, correct_names)

ind = table3[~(table3['sum_row'] | table3['ext_row'])]['district'].index
table4.loc[ind, 'district'] = pd.Series(name_match, index=ind)

## show data
# table4.sample(10)

Formatting the numeric data fields

In [ ]:
#table4.infer_objects() 
#table4[['one_aye', 'one_aye100', 'one_nay', 'one_nay100', 'two_aye', 'two_aye100', 'two_nay', 'two_nay100']].dtypes

#table4['one_aye', 'one_aye100', 'one_nay', 'one_nay100', 'two_aye', 'two_aye100', 'two_nay', 'two_nay100']
#table4[['one_aye', 'one_aye100', 'one_nay', 'one_nay100', 'two_aye', 'two_aye100', 'two_nay', 'two_nay100']].apply(lambda x: \
#          

for col in ['one_aye', 'one_aye100', 'one_nay', 'one_nay100', 'two_aye', 'two_aye100', 'two_nay', 'two_nay100']:
    table4[col] =\
    pd.to_numeric(table4[col].str.replace(',',''))
table4

# Export CSV

In [106]:
ind2 = table3[~table3['sum_row']]['district'].index
table4.loc[ind2, predefined_head].to_csv(r'results_by_dist.csv', index = None, header=True)

ind2 = table3[table3['sum_row']]['district'].index
table4.loc[ind2, predefined_head].to_csv(r'results_by_prov.csv', index = None, header=True)

,province,district,one_aye,one_aye100,one_nay,one_nay100,two_aye,two_aye100,two_nay,two_nay100,sum_row,ext_row
0,กรุงเทพมหานคร,คลองเตย,"23,475",70.28,"9,928",29.72,"22,171",67.13,"10,858",32.87,False,False
1,กรุงเทพมหานคร,ผลรวม,"23,475",70.28,"9,928",29.72,"22,171",67.13,"10,858",32.87,True,True
2,กรุงเทพมหานคร,ผลรวม,"23,475",70.28,"9,928",29.72,"22,171",67.13,"10,858",32.87,True,True
3,กรุงเทพมหานคร,คลองสาน,"20,990",72.54,"7,947",27.46,"19,660",68.63,"8,987",31.37,False,False
4,กรุงเทพมหานคร,คลองสามวา,"50,073",68.6,"22,921",31.4,"46,745",65.17,"24,983",34.83,False,False
5,กรุงเทพมหานคร,คันนายาว,"24,863",67.59,"11,923",32.41,"23,380",64.36,"12,948",35.64,False,False
6,กรุงเทพมหานคร,จตุจกร,"47,170",69.12,"21,075",30.88,"44,166",65.27,"23,505",34.73,False,False
7,กรุงเทพมหานคร,จอมทอง,"39,560",70.55,"16,517",29.45,"36,933",66.8,"18,356",33.2,False,False
8,กรุงเทพมหานคร,ดอนเมอง,"45,301",66.12,"23,209",33.88,"42,019",62.33,"25,395",37.67,False,False
9,กรุงเทพมหานคร,ดินแดง,"33,079",66.93,"16,342",33.07,"31,136",63.62,"17,808",36.38,False,False
10,กรุงเทพมหานคร,ดุสิต,"25,371",68.05,"11,914",31.95,"23,588",64.16,"13,177",35.84,False,False
11,กรุงเทพมหานคร,ตล่ิงชน,"31,166",69.25,"13,842",30.75,"29,090",65.43,"15,369",34.57,False,False
12,กรุงเทพมหานคร,ทววีฒันา,"25,184",69.78,"10,904",30.22,"23,547",66.06,"12,097",33.94,False,False
13,กรุงเทพมหานคร,ทง่ครุ,"32,161",71.63,"12,738",28.37,"29,681",67.7,"14,163",32.3,False,False
14,กรุงเทพมหานคร,ธนบรี,"29,475",70.93,"12,080",29.07,"27,708",67.34,"13,439",32.66,False,False
15,กรุงเทพมหานคร,บางกอกนอย,"30,484",69.75,"13,220",30.25,"28,197",66.4,"14,269",33.6,False,False
16,กรุงเทพมหานคร,บางกอกใหญ,"19,165",69.3,"8,489",30.7,"18,029",65.85,"9,349",34.15,False,False
17,กรุงเทพมหานคร,บางกะป,"40,853",70.77,"16,871",29.23,"38,544",67.29,"18,738",32.71,False,False
18,กรุงเทพมหานคร,บางขนเทยน,"44,598",68.44,"20,564",31.56,"41,547",64.73,"22,640",35.27,False,False
19,กรุงเทพมหานคร,บางเขน,"55,466",67.95,"26,162",32.05,"51,974",64.46,"28,661",35.54,False,False
20,กรุงเทพมหานคร,บางคอแหลม,"25,059",74.85,"8,418",25.15,"23,394",71.12,"9,502",28.88,False,False
21,กรุงเทพมหานคร,บางแค,"53,743",70.03,"22,998",29.97,"50,364",66.37,"25,522",33.63,False,False
22,กรุงเทพมหานคร,บางซ่ือ,"33,688",66.85,"16,702",33.15,"31,455",63.05,"18,433",36.95,False,False
23,กรุงเทพมหานคร,บางนา,"25,550",71.53,"10,169",28.47,"23,968",67.84,"11,362",32.16,False,False
24,กรุงเทพมหานคร,บางบอน,"27,586",68.98,"12,406",31.02,"25,836",65.44,"13,647",34.56,False,False
25,กรุงเทพมหานคร,บางพลัด,"27,472",68.55,"12,601",31.45,"25,726",64.93,"13,894",35.07,False,False
26,กรุงเทพมหานคร,บางรัก,"13,114",75.99,"4,143",24.01,"12,459",72.52,"4,720",27.48,False,False
27,กรุงเทพมหานคร,บงกม,"41,654",68.98,"18,728",31.02,"39,118",65.48,"20,618",34.52,False,False
28,กรุงเทพมหานคร,ปทมวนั,"12,563",71.07,"5,113",28.93,"11,742",66.91,"5,806",33.09,False,False
29,กรุงเทพมหานคร,ประเวศ,"43,642",70.22,"18,504",29.78,"41,044",66.59,"20,589",33.41,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1134,อุทัยธานี,หวยคต,"6,100",74.25,"2,116",25.75,"5,397",70.19,"2,292",29.81,False,False
1135,อุทัยธานี,นอกเขต,356,75.11,118,24.89,314,67.24,153,32.76,False,True
1136,อุทัยธานี,ผลรวม,356,75.11,118,24.89,314,67.24,153,32.76,True,True
1137,อุบลราชธานี,กดขาวปน้,"8,336",50.46,"8,185",49.54,"6,660",42.37,"9,057",57.63,False,False
1138,อุบลราชธานี,ผลรวม,"70,958",58.84,"49,641",41.16,"63,378",55.74,"50,328",44.26,True,False
1139,อุบลราชธานี,ผลรวม,"70,958",58.84,"49,641",41.16,"63,378",55.74,"50,328",44.26,True,True
1140,อุบลราชธานี,ผลรวม,"70,958",58.84,"49,641",41.16,"63,378",55.74,"50,328",44.26,True,True
1141,อุบลราชธานี,ผลรวม,"70,958",58.84,"49,641",41.16,"63,378",55.74,"50,328",44.26,True,True
1142,อุบลราชธานี,ผลรวม,"70,958",58.84,"49,641",41.16,"63,378",55.74,"50,328",44.26,True,True
1143,อุบลราชธานี,ผลรวม,"70,958",58.84,"49,641",41.16,"63,378",55.74,"50,328",44.26,True,True
1144,อุบลราชธานี,ผลรวม,"70,958",58.84,"49,641",41.16,"63,378",55.74,"50,328",44.26,True,True
1145,อุบลราชธานี,ทง่ศรีอดม,"5,566",49.07,"5,776",50.93,"4,571",43.8,"5,866",56.2,False,False
1146,อุบลราชธานี,ผลรวม,"5,566",49.07,"5,776",50.93,"4,571",43.8,"5,866",56.2,True,True
1147,อุบลราชธานี,ผลรวม,"87,314",54.69,"72,346",45.31,"74,976",49.88,"75,344",50.12,True,False
1148,อุบลราชธานี,ผลรวม,"87,314",54.69,"72,346",45.31,"74,976",49.88,"75,344",50.12,True,True
1149,อุบลราชธานี,กมภวาป,"19,096",39.33,"29,453",60.67,"16,708",36.42,"29,164",63.58,False,False
1150,อุบลราชธานี,กแกว,"2,610",29.4,"6,269",70.6,"2,272",27.04,"6,130",72.96,False,False
1151,อุบลราชธานี,ไชยวาน,"5,588",38.32,"8,995",61.68,"4,768",35.17,"8,788",64.83,False,False
1152,อุบลราชธานี,ทง่ฝน,"3,544",30.57,"8,050",69.43,"2,955",27.63,"7,738",72.37,False,False
1153,อุบลราชธานี,นายง,"4,918",43.24,"6,455",56.76,"4,079",38.88,"6,411",61.12,False,False
1154,อุบลราชธานี,นาโสม,"8,915",40.02,"13,360",59.98,"7,682",36.4,"13,425",63.6,False,False
1155,อุบลราชธานี,โนนสะอาด,"9,987",47.58,"11,004",52.42,"8,660",43.46,"11,267",56.54,False,False
1156,อุบลราชธานี,บานดุง,"17,496",38.92,"27,458",61.08,"14,706",34.99,"27,319",65.01,False,False
1157,อุบลราชธานี,บานผือ,"16,696",38.07,"27,157",61.93,"14,424",34.94,"26,862",65.06,False,False
1158,อุบลราชธานี,ผลรวม,"16,696",38.07,"27,157",61.93,"14,424",34.94,"26,862",65.06,True,True
1159,อุบลราชธานี,ผลรวม,"16,696",38.07,"27,157",61.93,"14,424",34.94,"26,862",65.06,True,True
1160,อุบลราชธานี,ผลรวม,"16,696",38.07,"27,157",61.93,"14,424",34.94,"26,862",65.06,True,True
1161,อุบลราชธานี,ผลรวม,"16,696",38.07,"27,157",61.93,"14,424",34.94,"26,862",65.06,True,True
1162,อุบลราชธานี,ผลรวม,"16,696",38.07,"27,157",61.93,"14,424",34.94,"26,862",65.06,True,True
1163,อุบลราชธานี,ผลรวม,"16,696",38.07,"27,157",61.93,"14,424",34.94,"26,862",65.06,True,True

In [28]:
pd.to_numeric(table4[['one_aye', 'one_aye100', 'one_nay', 'one_nay100', 'two_aye', 'two_aye100', 'two_nay', 'two_nay100']].str.replace(',',''))

AttributeError: 'DataFrame' object has no attribute 'str'